<div
    class="floating-label floating-label-textarea
        {{@containerClass}}
        {{if @inset ' fl-inset-placeholder'}}
        {{if this.hasFocus ' fl-has-focus'}}
        {{if this.hasContent ' fl-has-content'}}
        {{if this.hasFocusOrContent ' fl-has-focus-or-content'}}"
    {{on "focusin" this.onFocusIn}}
    {{on "focusout" this.onFocusOut}}
>
    {{#if (has-block)}}
        {{yield}}
        {{#if this.placeholder}}
            <label class="control-label fl-placeholder-label" for={{this.id}}>
                {{this.placeholder}}
            </label>
        {{/if}}
    {{else}}
        <Textarea @value={{@value}} class="{{this.inputBaseClass}}" id={{this.id}} name={{this.name}} ...attributes />
        {{#if this.placeholder}}
            <label class="control-label fl-placeholder-label" for={{this.id}}>
                {{this.placeholder}}
            </label>
        {{/if}}
    {{/if}}
</div>