<div class="floating-label floating-label-select {{@containerClass}}
    {{~if @inset " fl-inset-placeholder"}}
    {{~if this.hasFocus " fl-has-focus"}}
    {{~if this.hasContent " fl-has-content"}}
    {{~if this.hasFocusOrContent " fl-has-focus-or-content"}}"
    {{on "focusin" this.onFocusIn}}
    {{on "focusout" this.onFocusOut}}
>
    <select
        class="{{this.inputBaseClass}}"
        {{on "change" this.onChange}}
        ...attributes
    >
        <option value="" disabled={{this.disableEmptyOption}}>
            {{if this.hasFocus @emptyOptionText}}
        </option>
        {{#if hasBlock}}
            {{yield this}}
        {{else}}
            {{#each @options as |opt|}}
                <option value={{get opt this.valuePath}} selected={{eq (get opt this.valuePath) @value}}>
                    {{get opt this.labelPath}}
                </option>
            {{/each}}
        {{/if}}
    </select>
    {{#if @placeholder}}
        <label class="control-label fl-placeholder-label">
            {{@placeholder}}
        </label>
    {{/if}}
</div>
