<fieldset>
    {{#if hasBlock}}
        {{yield}}
        {{#if label}}
            <label class="control-label">{{label}}</label>
        {{/if}}
    {{else}}
        {{textarea
            rows=rows
            cols=cols
            wrap=wrap
            readonly=readonly
            size=size
            name=name
            pattern=pattern
            autosave=autosave
            formmethod=formmethod
            height=height
            step=step
            selectionDirection=selectionDirection
            required=required
            tabindex=tabindex
            min=min
            accept=accept
            formaction=formaction
            formnovalidate=formnovalidate
            inputmode=inputmode
            width=width
            spellcheck=spellcheck
            autofocus=autofocus
            disabled=disabled
            minlength=minlength
            maxlength=maxlength
            max=max
            autocomplete=autocomplete
            formenctype=formenctype
            formtarget=formtarget
            multiple=multiple
            form=form
            value=(mut value)
            class=textClass
            enter=(action "enter")
            insert-newline=(action "insertLine")
            escape-press=(action "escapePress")
            key-press=(action "keyPress")
            key-up=(action "keyUp")
        }}
        {{#if label}}
            <label class="control-label">{{label}}</label>
        {{/if}}
    {{/if}}
</fieldset>