<div class="row">
    <div class="col-md-6 col-md-push-3">
        <h1>Floating Label - Select</h1>
        <div class="form-group">
            {{fl-select
                options=inlineSelectOptions
                value=selectInlineValue
                placeholder="Inline Version"
                selectClass="form-control"
                emptyOptionText="Select a fruit..."
                onchange=(action (mut selectInlineValue))
            }}
        </div>
        <div class="form-group">
            {{fl-select
                options=inlineSelectOptions
                value=selectInlineValue
                placeholder="Inline Version"
                selectClass="form-control"
                emptyOptionText="Select a fruit..."
                onchange=(action (mut selectInlineValue))
                disabled=true
            }}
        </div>
        <div class="form-group">
            {{fl-select
                options=customSelectOptions
                value=selectLgValue
                valuePath="abbrv"
                labelPath="name"
                placeholder="Large Select"
                selectClass="form-control input-lg"
                allowClear=false
                onchange=(action (mut selectLgValue))
            }}
        </div>
        <div class="form-group">
            {{#fl-select
                value=selectBlockValue
                placeholder="Block Version"
                selectClass="form-control input-lg"
                emptyOptionText="Select something..."
                onchange=(action (mut selectBlockValue))
                as |select|
            }}
                <optgroup label="Custom Group">
                    <option value="foo" selected={{eq "foo" selectBlockValue}}>Foo</option>
                    <option value="bar" selected={{eq "bar" selectBlockValue}}>Bar</option>
                </optgroup>
                <optgroup label="Standard Options">
                    {{#each inlineSelectOptions as |opt index|}}
                        <option value={{opt.value}} selected={{eq opt.value selectBlockValue}}>{{index}}. {{opt.label}}</option>
                    {{/each}}
                </optgroup>
            {{/fl-select}}
        </div>
    </div>
</div>