<div class="row justify-content-center">
    <div class="py-4 col-md-6">
        <h2>Select</h2>
        <div class="form-group">
            <FlSelect
                @value={{this.selectInlineValue}}
                @options={{this.inlineSelectOptions}}
                @placeholder="Inline Version"
                @emptyOptionText="Select a fruit..."
                @onChange={{this.onSelectInlineValue}}
            />
        </div>
        <div class="form-group">
            <FlSelect
                @value={{this.selectInlineValue}}
                @options={{this.inlineSelectOptions}}
                @placeholder="Inset Version"
                @emptyOptionText="Select a fruit..."
                @inset={{true}}
                @onChange={{this.onSelectInlineValue}}
            />
        </div>
        <div class="form-group">
            <FlSelect
                @value={{this.selectInlineValue}}
                @options={{this.inlineSelectOptions}}
                @placeholder="Inline Version"
                @emptyOptionText="Select a fruit..."
                @onChange={{this.onSelectInlineValue}}
                disabled={{true}}
            />
        </div>
        <div class="form-group">
            <FlSelect
                @value={{this.selectLgValue}}
                @valuePath="abbrv"
                @labelPath="name"
                @options={{this.customSelectOptions}}
                @placeholder="Large Select"
                @allowClear={{false}}
                @onChange={{this.onSelectLgValue}}
                class="form-control-lg"
            />
        </div>
        <div class="form-group">
            <FlSelect
                @value={{this.selectBlockValue}}
                @placeholder="Block Version"
                @emptyOptionText="Select something..."
                @onChange={{this.selectBlockValue}}
                class="form-control-lg"
            >
                <optgroup label="Custom Group">
                    <option value="foo" selected={{eq "foo" this.selectBlockValue}}>Foo</option>
                    <option value="bar" selected={{eq "bar" this.selectBlockValue}}>Bar</option>
                </optgroup>
                <optgroup label="Standard Options">
                    {{#each this.inlineSelectOptions as |opt index|}}
                        <option value={{opt.value}} selected={{eq opt.value this.selectBlockValue}}>{{index}}.
                            {{opt.label}}</option>
                    {{/each}}
                </optgroup>
            </FlSelect>
        </div>
    </div>
</div>