<div class="row">
    <div class="col-md-6 col-md-push-3">
        <h1>Floating Label - Input</h1>
        <div class="form-group">
            <FlInput
                @value={{this.inputInlineValue}}
                @placeholder="Inline Version"
                @containerClass="custom-container-class"
                class="custom-class"
            />
        </div>
        <div class="form-group">
            <FlInput
                @value={{this.inputBlockValue}}
                @placeholder="Block Version"
            >
                <Input
                    @value={{this.inputBlockValue}}
                    @placeholder="Static Placeholder"
                    class="form-control"
                />
            </FlInput>
        </div>
        <div class="form-group">
            {{fl-input value=inputLgValue placeholder="Large Input" textClass="form-control input-lg"}}
        </div>
        <div class="form-group">
            {{fl-input value=inputSmValue placeholder="Small Input" textClass="form-control input-sm"}}
        </div>
        <div class="form-group">
            {{fl-input value=inputSmValue placeholder="Small Input" textClass="form-control input-sm" disabled=true}}
        </div>
    </div>
</div>