<div class="row">
    <div class="col-md-6 col-md-push-3">
        <h1>Floating Label - Input</h1>
        <div class="form-group">
            {{fl-input value=inputInlineValue placeholder="Inline Version" textClass="form-control"}}
        </div>
        <div class="form-group">
            {{#fl-input value=inputBlockValue placeholder="Block Version"}}
                {{input value=inputBlockValue class="form-control" placeholder="Static Placeholder"}}
            {{/fl-input}}
        </div>
        <div class="form-group">
            {{fl-input value=inputLgValue placeholder="Large Input" textClass="form-control input-lg"}}
        </div>
        <div class="form-group">
            {{fl-input value=inputSmValue placeholder="Small Input" textClass="form-control input-sm"}}
        </div>
        <div class="form-group">
            {{fl-input value=inputSmValue placeholder="Small Input" textClass="form-control input-sm" disabled=true}}
        </div>
    </div>
</div>